<div class="site-header">

  <div class="inner-page">
    <div class="col-xs-12">
      <div class="container-image">
        <img src="{{ "/images/smills.png" | prepend: site.baseurl }}" alt="">
      </div>
    </div>
    <div class="col-xs-12">
      <p>Sandra lives in Calgary with her partner, Vince.  She graduated from ACAD in 2007 after majoring in illustration and relentlessly pursues adorableness via cartoons, pets, and comics.  Sandra and Vince also have a website called birdnerds.ca where they document their passion for birds through Vince's photography and Sandra's comics.</p>
    </div>
    <div class="clearfix"> </div>
  </div>


</div>
